:host {
  display: block;
  padding-bottom: 2rem;
}

.emotions {
  overflow: hidden;
  padding-left: 2rem;
  margin-bottom: 1.5rem;

  &__list {
    padding: 1.5rem;
    border: 0.125rem solid #9b9b9b;
    border-radius: 0.75rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 3rem;
    margin-right: -2rem;
    overflow: auto;

    > * {
      justify-content: center;
      min-width: 8rem;
    }
  }
}

main {
  padding: 0 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

button {
  border-radius: 0.5rem;
  min-height: 3.75rem;
  background: #d81f26;
  text-align: center;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 1.5rem;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    opacity: 0.8;
  }
}

main {
  max-width: 40rem;
}

@media (min-width: 769px) {
  .emotions {
    margin-bottom: 0;
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    max-width: 1368px;
    margin: 0 auto;
  }

  main {
    max-width: 628px;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }

  p {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  .emotions__list {
    padding: 2rem;
  }
}

@media (min-width: 1368px) {
  .emotions__list {
    padding-right: 3rem;
    margin-right: -0;
  }
}
