$tablet: 600px;

* {
  box-sizing: border-box;
}

:host {
  height: 100dvh;
  overflow: hidden;
  display: block;
}

.content {
  width: auto;
  height: 100%;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet) {
    padding: 1rem 0;
    max-width: $tablet;
  }
}

.video-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  @media (min-width: $tablet) {
    top: 1rem;
  }
}

.video-wrapper {
  width: 100%;
  height: 100%;

  @media (min-width: $tablet) {
    border-radius: 1rem;
    overflow: hidden;
  }
}

.video {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.video-slider {
  display: none;

  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  flex-direction: column;
  z-index: 1;
  gap: 1rem;

  @media (min-width: $tablet) {
    display: inline-flex;
  }
}
