<div class="content">
  <div class="video-header">
    <a routerLink="/inicio" class="icon-button">
      <img src="/images/go-back.svg" alt="" />
    </a>
    <img
      class="video-header__logo"
      src="/images/netflix.webp"
      alt="Netflix logo"
    />
    <a routerLink="/inicio" class="icon-button" style="visibility: hidden">
      <img src="/images/go-back.svg" alt="" />
    </a>
  </div>
  <div class="video-wrapper">
    <video
      class="video"
      src="/videos/pijama_rayas-ira-confusion-amenaza.mp4"
    ></video>
  </div>
</div>

<div class="video-slider">
  <button class="icon-button" type="button">
    <img src="/images/arrow-up.svg" alt="" />
  </button>
  <button class="icon-button" type="button">
    <img src="/images/arrow-down.svg" alt="" />
  </button>
</div>
