<div class="desktop-logo">
  <a routerLink="/inicio">
    <img src="/images/netflix.webp" alt="Netflix logo" />
  </a>
</div>

<div class="content">
  <div class="video-header">
    <a routerLink="/inicio" class="icon-button">
      <img src="/images/go-back.svg" alt="" />
    </a>
    <a routerLink="/inicio" class="video-header__link">
      <img
        class="video-header__logo"
        src="/images/netflix.webp"
        alt="Netflix logo"
      />
    </a>
    <a routerLink="/inicio" class="icon-button" style="visibility: hidden">
      <img src="/images/go-back.svg" alt="" />
    </a>
  </div>

  <div class="video-wrapper">
    <video
      #videoPlayer
      class="video"
      autoplay
      (click)="togglePlay()"
      src="/videos/pijama_rayas-ira-confusion-amenaza.mp4"
    ></video>
  </div>

  <div class="video-footer">
    <div class="video-footer__container">
      <div>
        <div class="video-footer__category">
          <span class="video-footer__emotion">😨</span>
          <span>Miedo</span>
        </div>
        <h3 class="video-footer__movie-name">It: Chapter Two (2019)</h3>
      </div>
      <button type="button" class="see-button">
        Ver <img src="/images/play-button.svg" alt="" />
      </button>
    </div>
    <div class="video-footer__progress"></div>
  </div>
</div>

<div class="video-slider">
  <button class="icon-button" type="button">
    <img src="/images/arrow-up.svg" alt="" />
  </button>
  <button class="icon-button" type="button">
    <img src="/images/arrow-down.svg" alt="" />
  </button>
</div>

<scroll-usage />
