<header class="header">
  <div class="container">
    <img src="/images/netflix.webp" class="logo" alt="Netflix logo" />
  </div>
</header>

<div class="container">
  <main class="banner">
    <div class="banner__heading">
      <span class="pill">¡Nuevo!</span>
      <h1 class="banner__title">¿Cómo te sientes?</h1>
    </div>
    <div class="banner__emotions">
      <a routerLink="/para-ti/alegre" class="emotion-button">
        <div class="emotion-button__emoji">😁</div>
        <p class="emotion-button__label">Alegre</p>
      </a>
      <a routerLink="/para-ti/triste" class="emotion-button">
        <div class="emotion-button__emoji">💔</div>
        <p class="emotion-button__label">Triste</p>
      </a>
      <a routerLink="/para-ti/miedo" class="emotion-button">
        <div class="emotion-button__emoji">😨</div>
        <p class="emotion-button__label">Con miedo</p>
      </a>
      <a routerLink="/para-ti/furioso" class="emotion-button">
        <div class="emotion-button__emoji">🔥</div>
        <p class="emotion-button__label">Furioso</p>
      </a>
      <a routerLink="/para-ti/curioso" class="emotion-button">
        <div class="emotion-button__emoji">🔎</div>
        <p class="emotion-button__label">Curioso</p>
      </a>
      <a routerLink="/para-ti/motivado" class="emotion-button">
        <div class="emotion-button__emoji">💪</div>
        <p class="emotion-button__label">Motivado</p>
      </a>
    </div>
  </main>
</div>
