<header class="header">
  <div class="container">
    <img src="/images/netflix.webp" class="logo" alt="Netflix logo" />
  </div>
</header>

<div class="container">
  <main class="banner">
    <div class="banner__heading">
      <span class="pill">¡Nuevo!</span>
      <h1 class="banner__title">Series y películas según tu estado de ánimo</h1>
    </div>
    <div class="banner__emotions">
      @for (video of videos; track $index) {
      <a [routerLink]="['/para-ti', video.id]" class="emotion-button">
        <div class="emotion-button__emoji">{{video.icon}}</div>
        <p class="emotion-button__label">{{video.emotion}}</p>
      </a>
      }
    </div>
  </main>

  <section class="for-you">
    <h2 class="for-you__title">Recién añadidas</h2>

    <div class="movie-list">
      @for (video of videos; track $index) {
      <a [routerLink]="['/para-ti', video.id]" class="movie">
        <img [src]="video.thumbnail" class="movie__thumbnail" alt="" />
        <h3 class="movie__name">{{video.movieName}}</h3>
      </a>
      }
    </div>
  </section>
</div>
