<header class="header">
  <div class="container">
    <img src="/images/netflix.webp" class="logo" alt="Netflix logo" />
  </div>
</header>

<div class="container">
  <main class="banner">
    <div class="banner__heading">
      <span class="pill">¡Nuevo!</span>
      <h1 class="banner__title">Series y películas según tu estado de ánimo</h1>
    </div>
    <div class="banner__emotions">
      <a routerLink="/para-ti/furia" class="emotion-button">
        <div class="emotion-button__emoji">🔥</div>
        <p class="emotion-button__label">Furia</p>
      </a>
      <a routerLink="/para-ti/amor" class="emotion-button">
        <div class="emotion-button__emoji">💖</div>
        <p class="emotion-button__label">Amor</p>
      </a>
      <a routerLink="/para-ti/intriga" class="emotion-button">
        <div class="emotion-button__emoji">🧐</div>
        <p class="emotion-button__label">Intriga</p>
      </a>
      <a routerLink="/para-ti/miedo" class="emotion-button">
        <div class="emotion-button__emoji">😨</div>
        <p class="emotion-button__label">Miedo</p>
      </a>
      <a routerLink="/para-ti/alegria" class="emotion-button">
        <div class="emotion-button__emoji">😁</div>
        <p class="emotion-button__label">Alegría</p>
      </a>
      <a routerLink="/para-ti/triste" class="emotion-button">
        <div class="emotion-button__emoji">😢</div>
        <p class="emotion-button__label">Triste</p>
      </a>
    </div>
  </main>

  <section class="for-you">
    <h2 class="for-you__title">Recién añadidas</h2>

    <div class="movie-list">
      <a routerLink="#" class="movie">
        <img src="/images/movie.jpg" class="movie__thumbnail" alt="" />
        <h3 class="movie__name">The Irishman</h3>
      </a>
      <a routerLink="#" class="movie">
        <img src="/images/movie.jpg" class="movie__thumbnail" alt="" />
        <h3 class="movie__name">Ad Astra</h3>
      </a>
      <a routerLink="#" class="movie">
        <img src="/images/movie.jpg" class="movie__thumbnail" alt="" />
        <h3 class="movie__name">The ShawShank</h3>
      </a>
      <a routerLink="#" class="movie">
        <img src="/images/movie.jpg" class="movie__thumbnail" alt="" />
        <h3 class="movie__name">War (2019)</h3>
      </a>
      <a routerLink="#" class="movie">
        <img src="/images/movie.jpg" class="movie__thumbnail" alt="" />
        <h3 class="movie__name">It: Chapter Two</h3>
      </a>
    </div>
  </section>
</div>
