:host {
  width: 100%;
  max-width: 8rem;
}

button {
  all: unset;
  border-radius: 0.5rem;
  transition: all 125ms ease-in-out;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 8.75rem;
  cursor: pointer;

  &:hover {
    background: rgba(#fff, 0.1);
  }

  &:active {
    background: rgba(#fff, 0.25);
  }
}

.icon {
  font-size: 4rem;
}

.text {
  font-size: 1.5rem;
  white-space: pre-line;
  word-break: break-word;
  text-align: center;
}
