p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.button {
  all: unset;
  border-radius: 0.5rem;
  min-height: 3.75rem;
  background: #d81f26;
  text-align: center;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 1.5rem;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 1.5rem;

  &:hover {
    opacity: 0.8;
  }
}

.button--wide {
  width: 100%;
}

.email-modal__content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

input {
  all: unset;
  width: 100%;
  background: #2c2c2d;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.25rem;
  font-family: inherit;
  box-sizing: border-box;
  display: block;
}
